.main_content {
    padding: 0 !important;
    background-color: #1b1a19 !important;
    color: #fff;
    font: 14px "Segoe UI";
}
.inst_content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.inst_blue_link {
    color: #75a9ff;
}
.inst_blue_link:hover {
    color: #A7D1FF;
}
.underline {
    border-bottom: 1px solid #706f6f;
}
.underline:hover {
    border-bottom: 1px solid #1b1a19;
}
/* Шапка и меню акции */
.promo_head {
    position: relative;
    height: 171px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.promo_head:after {
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #FFA631;
    bottom: 50%;
    left: 0;
}
.promo_head .promo_logo {
    position: relative;
    z-index: 2;
    padding: 24px;
    border: 1px solid #FFA631;
    background: #1b1a19;
    transform: skew(-10deg);
    margin-left: 90px;
}
.promo_head .promo_logo img {
    transform: translateZ(0) skew(10deg);
}
.promo_head .promo_menu {
    z-index: 2;
    background: #1b1a19;
    margin-right: 33px;
    padding: 0 45px 0 22px;
}
.promo_head .promo_menu > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 17px;
    line-height: 13px;
    position: relative;
    z-index: 2;
}
.promo_head .promo_menu .tree {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
}

.promo_desc {
    width: 760px;
    margin: 25px auto 100px;
}
.promo_desc .promo_desc_title {
    margin-bottom: 35px;
    text-align: center;
}
.promo_desc .promo_desc_title img {
    margin-bottom: -8px;
}
.promo_desc .promo_steps {
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.promo_desc .promo_steps .step {
    cursor: pointer;
}
.promo_desc .promo_steps .step:first-of-type {
    width: 110px;
}
.promo_desc .promo_steps .step:nth-of-type(2) {
    width: 107px;
}
.promo_desc .promo_steps .step:nth-of-type(3) {
    width: 112px;
}
.promo_desc .promo_steps .step:last-of-type {
    width: 137px;
}
.promo_desc .promo_steps .circle {
    width: 90px;
    height: 90px;
    border: 1px solid #919191;
    border-radius: 50%;
    margin: 0 auto;
    transition: all .25s cubic-bezier(0.35, 0.06, 1, 1);;
}
.promo_desc .promo_steps .step:hover .circle {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px 1px rgba(255,255,255, .8);
}
.promo_desc .promo_steps .circle img {
    position: relative;
    top: 20px;
    left: 3px;
}
.promo_desc .promo_steps .step:last-of-type .circle img {
    top: -4px;
    left: 16px;
}
.promo_desc .promo_steps .arrow {
    width: 30px;
    height: 1px;
    background: #919191;
    margin: 0 10px 40px 10px;
    position: relative;
}
.promo_desc .promo_steps .arrow:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -2px;
    right: -1px;
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 5px solid #919191;
}
.promo_desc .promo_steps .step_desc {
    margin-top: 7px;
}
.promo_desc .promo_steps .step_desc .sub_desc {
    display: inline-block;
    line-height: 13px;
}
.promo_desc .promo_steps .step:hover .step_desc .sub_desc {
    border-bottom: 1px solid #1b1a19;
}
.promo_desc .promo_steps_info {
    position: relative;
    font-size: 16px;
    font-weight: 600;
}
.promo_desc .promo_steps_info .step_info {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .15s ease-in;
    z-index: 1;
    pointer-events: none;
    text-align: center;
    padding: 40px 0 10px 0;
    margin-bottom: -10px;
    width: 760px;
}
.promo_desc .promo_steps_info .step_info.active {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
}
.promo_desc .promo_steps_info .step_info:first-of-type p a img {
    margin: 0 0 -15px 5px;
}
.promo_desc .promo_steps_info .step_info:nth-of-type(2) p a > img {
    width: 111px;
    margin-bottom: -10px;
}
.promo_desc .promo_steps_info .step_info:nth-of-type(2) p > img {
    width: 140px;
    margin-bottom: -1px;
}
.promo_desc .promo_steps_info .step_info:nth-of-type(3) p img {
    width: 140px;
    margin-bottom: -1px;
}

/* Для главной */
.inst_content .main_photos {
    font-size: 0;
}
.inst_content .main_top_photos  {
    order: 1;
    transition: margin .3s cubic-bezier(0, 0, 0.52, 1.48);
}
.inst_content .main_bot_photos  {
    order: 3;
}
.tasks, .leadership  {
    order: 2;
    height: 450px;
    margin: 50px 0;
}
.tasks {
    width: 750px;
    border-right: 1px solid #444;
}
.tasks .current_task {
    position: relative;
    height: 335px;
    padding-left: 28px;
    /* margin-top: -10px; */
}
.tasks .current_task .all_tasks {
    width: 525px;
    height: 325px;
    margin: 0 auto;
    position: relative;
}
.tasks .current_task .task {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 525px;
    height: 360px;
    margin: 0 auto;
    transition: opacity .3s ease-in;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}
.tasks .current_task .task.active {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
}
.tasks .current_task .task > img {
    z-index: 2;
}
.tasks .current_task .task .task_desc {
    width: 220px;
    margin: -15px 0 0 41px;
    font-size: 15px;
    font-weight: 600;
}
.tasks .current_task .task .task_desc img {
    margin-top: 10px;
}
.tasks .current_task .task .task_number {
    position: absolute;
    top: -50px;
    left: -127px;
    color: #000;
    width: 150px;
    height: 130px;
    font-size: 13px;
    padding: 28px 0 0 30px;
}
.tasks .current_task .task .task_number p {
    font-size: 44px;
    line-height: 32px;
}
.tasks .current_task .task .task_number p,
.tasks .current_task .task .task_number span{
    position: relative;
    z-index: 2;
    font-weight: bold;
}
.tasks .current_task .task .task_number:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    top: 0;
    left: 0;
    border-top: 180px solid #FFAA00;
    border-right: 200px solid #1b1a19;
}
.tasks .tasks_list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 38px;
}
.tasks .tasks_list .task {
    width: 107px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 12px;
    border-top: 1px solid #ffaa00;
    color: #6c6c6c;
}
.tasks .tasks_list .task:not(.disabled) {
    cursor: pointer;
}
.tasks .tasks_list .task.active {
    border-top: 1px solid #1B1A19;
    border-bottom: 1px solid #ffaa00;
    color: #fff;
}
.tasks .tasks_list .task.active:not(:last-of-type){
    border-right: 1px solid #ffaa00;
}
.tasks .tasks_list .task.active:not(:first-of-type){
    border-left: 1px solid #ffaa00;
}
.tasks .tasks_list .task span {
    font-size: 41px;
    line-height: 30px;
    margin-top: 13px;
    display: inline-block;
}
.tasks .tasks_list .task p {
    font-size: 10px;
}
.leadership {
    width: 380px;
    border-left: 1px solid #000;
    padding-left: 43px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
}
.leadership a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.leadership a span.underline, .leadership .more.underline {
    display: inline-block;
    line-height: 13px;
}
.leadership .leadership_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 23px;
    border-bottom: 1px solid #a8a8a8;
    margin-top: 11px;
}
.leadership .leadership_title:hover {
    border-bottom: 1px solid #1b1a19;
}
.leadership_table_head {
    font: 13px "Segoe UI";
    color: #797979;
    font-weight: bold;
    margin: 27px 0 17px 0;
    order: 1;
}
.leadership_table_head .leadership_rating {
    margin-left: -3px;
}
.leadership_table_head .leadership_prize {
    margin-left: -5px;
}
.leadership_line {
    width: 380px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font: 14px "Segoe UI";
    font-weight: 600;
    transform: translateX(-7px);
    order: 2;
}
.leadership_line {
    margin-bottom: 13px;
}
.leadership_line .position {
    display: inline-block;
    transform: translateX(-14px);
    width: 8px;
}
.leadership_user {
    width: 143px;
    display: inline-block;
}
.leadership_rating {
    width: 94px;
    display: inline-block;
    position: relative;
}
.leadership_prize img {
    position: absolute;
    left: 0;
    top: -2px;
    height: 23px;
}
.leadership_prize .prize_desc {
    margin-left: 20px;
}
.leadership .more {
    order: 3;
    transform: translateX(0px);
    margin-top: 10px;
}
.leadership .rating_detail {
    position: absolute;
    top: -12px;
    right: -97px;
    width: 96px;
    height: 62px;
    z-index: 3;
    background: #1b1a19;
    border: 1px solid #747474;
    color: #797979;
    font-size: 9px;
    padding: 13px 17px 13px 17px;
    display: none;
}
.leadership .completed_tasks, .leadership .likes_count {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.leadership .completed_tasks {
    margin-bottom: 7px;
}
.leadership .completed_tasks img, .leadership .likes_count img {
    margin-left: 5px;
}


/* Форма обратной связи */
.question {
    padding-top: 100px;
    height: 505px;
    color: #fff;
}
.question .body {
    height: 370px;
    width: 100%;
}
.question .body .title {
    font-size: 25px;
    font-family: 'Segoe UI Light';
    margin-bottom: 15px;
}
.question .body #form {
    width: 850px;
    height: 320px;
    font-size: 13px;
    padding: 20px 25px 30px 25px;
    float: right;
    margin-right: 140px;
}
.question .body .desc {
    margin-left: 15px;
    font-size: 12px;
    font-style: italic;
    color: #ccc;
    font-family: 'Arial';
    max-width: 280px;
    margin-top: -3px;
}
#q_contact, #q_name, #q_issue {
    outline:none;
    border: 0;
    border-bottom: 1px solid rgba(100,100,100, .3);
    border-right: 1px solid rgba(100,100,100, .3);
    box-shadow: inset 3px 3px 4px 1px rgba(100,100,100,.3);
}
#q_contact, #q_name {
    height: 20px;
}
#q_issue {
    height: 110px;
    width: 500px;
    resize: none;
    float: left;
}

.question .body #form .subtitle {
    padding: 10px 0 10px 0;
}
.question .body #form .subtitle:first-of-type {
    padding: 0 0 10px 0;
}
.question .body #form .shadow {
    width: 271px;
    height: 68px;
    margin: 13px auto;
    padding-top: 10px;
    background: url('/local/templates/kdmarket/images/auction/info/shadow.png') no-repeat;
}
.question .body #form #q_button {
    width: 192px;
    height: 30px;
    margin: 0 auto;
    border-radius: 3px;
    display: block;
    outline: none;
    background: #f2ad24; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2ad24 0%, #ffb43d 50%, #ffa20c 50%, #ff9d00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2ad24), color-stop(50%,#ffb43d), color-stop(50%,#ffa20c), color-stop(100%,#ff9d00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ad24', endColorstr='#ff9d00',GradientType=0 ); /* IE6-9 */
    border: 1px solid #FCA314;
}
.question .body #form #q_button:hover {
    cursor: pointer;
    background: #F5BD50; /* Old browsers */
    background: -moz-linear-gradient(top,  #F5BD50 0%, #FFC364 50%, #FFB53D 50%, #FFB133 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5BD50), color-stop(50%,#FFC364), color-stop(50%,#FFB53D), color-stop(100%,#FFB133)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F5BD50 0%,#FFC364 50%,#FFB53D 50%,#FFB133 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F5BD50 0%,#FFC364 50%,#FFB53D 50%,#FFB133 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F5BD50 0%,#FFC364 50%,#FFB53D 50%,#FFB133 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F5BD50 0%,#FFC364 50%,#FFB53D 50%,#FFB133 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5BD50', endColorstr='#FFB133',GradientType=0 ); /* IE6-9 */
}
.question .body #form #q_button:active {
    box-shadow: inset 0px 1px 2px 2px rgba(0,0,0,.4);
    border: 0;
    background: #f2ad24; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2ad24 0%, #ffb43d 50%, #ffa20c 50%, #ff9d00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2ad24), color-stop(50%,#ffb43d), color-stop(50%,#ffa20c), color-stop(100%,#ff9d00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2ad24 0%,#ffb43d 50%,#ffa20c 50%,#ff9d00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ad24', endColorstr='#ff9d00',GradientType=0 ); /* IE6-9 */
}
.question .body #form #q_button .q_value {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.question .body .bottom-text {
    color: #8b8b8b;
    text-align: justify;
    font-family: 'Arial';
    font-size: 14px;
    width: 250px;
    float: left;
    margin-left: 85px;
}

/* Условия акции */
.rules {
    background: #1b1a19;
    display: flex;
    flex-wrap: nowrap;
    width: 1065px;
    padding: 0 50px 0 85px;
    color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    height: 0;
}
.rules.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    height: auto;
    transition: opacity .3s ease-in;
    margin-bottom: 80px;
}
.rules > div {
    flex: 1 50%;
    position: relative;
}
.rules .rules_left:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border-right: 1px solid #444444;
}
.rules .rules_right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #000;
}
.rules .rules_title {
    color: #383838;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.rules ol {
    list-style: decimal inside;
}
.rules ol li {
    margin-top: 10px;
}

.rules .sub_title {
    font-size: 22px;
    color: #fff;
    margin-top: 28px;
}
.rules .rules_left ol, .rules .rules_left div {
     margin-right: 70px;
}
.rules .rules_right ol, .rules .rules_right div {
     margin-left: 70px;
}

/* Призы */
.prizes {
    background: #1b1a19;
    display: flex;
    flex-wrap: wrap;
    width: 1037px;
    padding: 0 50px 0 85px;
    color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    height: 0;
    font-weight: 600;
}
.prizes.active {
    transition: opacity .3s ease-in;
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    height: auto;
    margin-bottom: 80px;
}
.prizes .prize {
    width: 990px;
    margin: 48px auto 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.prize:nth-of-type(1) {
    margin: 48px auto 14px auto;
}
.prize:nth-of-type(2) {
    margin: 48px auto 36px auto;
}
.prize:nth-of-type(3), .prize:nth-of-type(4) {
    margin: 48px auto 43px auto;
}
.prizes .prize .img {
    width: 285px;
    display: flex;
    justify-content: center;
    margin-right: 35px;
}
.prize .position {
    font-size: 25px;
    text-align: center;
    width: 177px;
}
.prize .position span {
    font-size: 85px;
}
.prize .position p {
    margin-top: -30px;
}
.prize:nth-of-type(2) .position p, .prize:nth-of-type(3) .position p, .prize:nth-of-type(4) .position p {
    margin-top: -15px;
}
.prize:first-of-type .position span {
    font-size: 152px;
}
.prize:nth-of-type(4) .position span {
    font-size: 71px;
}
.prize .desc {
    width: 490px;
    padding-top: 20px;
}
.prize .desc .title {
    color: #5b5a5a;
    font-size: 15px;
    font-weight: bold;
}
.prize .desc .prize_name {
    font-size: 26px;
    margin-bottom: 36px;
}
.prize .desc .text {
    font-size: 17px;
    margin-top: 5px;
}
.prize:nth-of-type(3) .desc, .prize:nth-of-type(4) .desc, .prize:nth-of-type(5) .desc {
    padding-top: 0;
}
.prize:nth-of-type(4) .desc {
    margin-top: -8px;
}
.prize:nth-of-type(5) .desc {
    margin-top: -13px;
}
.prize:nth-of-type(2) .position {
    padding-top: 22px;
}
.prize:nth-of-type(5) .position {
    padding-top: 53px;
}


/* Остальные страницы */
.inst_content #more {
    bottom: 8px;
    margin-left: 80px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    padding: 3px 15px;
}
.inst_content .photo {
    width: 25%;
    text-align: center;
}
.inst_content .username {
    margin: 7px 0 25px;
    font: 16px "Segoe UI";
    padding-right: 33px;
    display: block;
}
.inst_content .likes {
    float: right;
}
.inst_content .user {
    display: block;
    flex: 1 100%;
    font: 18px "Segoe UI";
    margin-bottom: 15px;
}