.inst_content{
  margin: 0 0 150px 136px;
  font-family: "Segoe UI";
  position: relative;
}

.inst_content .filter_in{
  position: absolute;
  right: 234px;
  top: -123px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  font-size: 11px;
  color: #ffffff;
  background-color: #1b1a19;
  outline: none;
}


.inst_content .filter_in_img{
  position: absolute;
  right: 396px;
  top: -115px;
}

.inst_content .photo{
  margin: 30px 20px 0 0;
  position: relative;
  height:292px;
}
.inst_content .photo .feed-img img{
  width: 290px;
  position: relative;
  z-index: 4;
}

.inst_content .photo .loader_waiter {
  position: absolute;
  left: 46%;
  top: 33%;
  width: 20px;
  height: 20px;
  border: 4px #000 solid;
  border-top: 4px #ffaa00 solid;
  border-radius: 50%;
  -webkit-transition: opacity .2s cubic-bezier(0.47, 0, 0.75, 0.72);
  -moz-transition: opacity .2s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: opacity .2s cubic-bezier(0.47, 0, 0.75, 0.72);
  -o-transition: opacity .2s cubic-bezier(0.47, 0, 0.75, 0.72);
  transition: opacity .2s cubic-bezier(0.47, 0, 0.75, 0.72);
  opacity: 0;
  z-index: 1;
}
.inst_content .photo .loader_waiter.load {
  opacity: 1;
  transform: rotate(25deg);
  animation: ajaxLoop 1s ease infinite;
}

@keyframes ajaxLoop {
  from {transform: rotate(25deg)}
  to {transform: rotate(385deg)}
}

.inst_content .photo .feed-picture-link{
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin-bottom:4px;
}

.inst_content .photo .feed-picture-username{
  margin-left: 25px;;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.35);*/
}

.inst_content .photo .feed-picture-likes{
  float: right;
}
.inst_content .photo .feed-picture-likes-ico{
  float: right;
  position: relative;
  top: 6px;
  margin: 0px 26px 0 3px;
}

.inst_content .photo .feed-bottom {
  text-align: center;
  position: absolute;
  z-index: 5;
  width: 290px;
  background: rgba(0, 0, 0, 0.5);
  bottom: 2px;
  left:5px;
  height: 50px;
  display: flex;
  align-items: center;
}

.main_content{
  background-color: #1b1a19 !important;
  color: #FFF;
}
.main_content .list{
  width: 840px;
  margin: 0 230px 0 82px;
}
.main_content .nav{
  /* Base style */
  font-family: "Segoe UI";
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin: 167px 0 33px 178px;
/*//text-decoration: underline;*/
}

.main_content .nav .nav__button{
  display: inline-block;
  padding: 9px 32px 11px;
  text-decoration: none;
  color: #fff;
}

.main_content .nav .nav__button.active{
  border: 1px solid #ffaa00;
  border-radius: 5px;
}

.main_content .list_table_header{
  /* Style for "╨Т╤Л╨┐╨╛╨╗╨╜╨╡╨╜╨╛ ╨╖╨░╨┤╨░" */
  color: #737373;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-left:224px;
  display: none;
}

.main_content .list_table_header div,.main_content .list_tsble_row div{
  /*text-align: center;*/
  vertical-align: top;
  margin-right: 16px;
  position: relative;
}
.main_content .list_tsble_row div img{
  margin-left: 5px;
}

.main_content .list_tsble_row div{
  cursor:pointer;
}

.main_content  .col_01{
  width:10px;
}

.main_content .list_tsble_row .col_01{
  cursor:default;
}

.main_content .user .user-posted{
  width: 200px;
  margin: 25px;
}

.main_content  .col_02{
  width:28px;
}

.main_content  .col_02 img{
  width: 30px;
  border-radius: 15px;
}

.main_content .col_03{
  width:160px;
}

.main_content .list_tsble_row .col_03{
  text-decoration: underline;
}


.main_content  .col_04{
  width:95px;
}

.main_content  .col_05{
  width:90px;
}

.main_content  .col_06{
  width:100px;
}

.main_content .table_col{
  display: inline-block;
}

.main_content .list_tsble_row{
  line-height:25px;
}

.main_content .list_tsble_row div{
  font-size: 15px;
  font-weight: 500;
}




